################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.dat
*.njsproj
*.sln
*.xlsx

node_modules/
/_output
/obj